{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-5 p-5 text-center w-75 border border-2 border-light">
<h2>Login</h2>
<form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit">
    </form>
    <a href="{% url 'password_reset' %}">Forgot Password</a>
{% if messages %}
<ul type="none" class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    </div>
{% endblock %}