{% extends 'base.html' %}

{% block content %}
<h2>Admin Dashboard</h2>

<table class="table table-bordered">
    <tr>
        <th>Company</th>
        <th>Role</th>
        <th>Salary</th>
        <th>Active Status</th>
    </tr>

    {% for job in jobs %}
<tr>
    <td>{{ job.companyname }}</td>
    <td>{{ job.jobrole }}</td>
    <td>{{ job.salary }}</td>
    <td>{{ job.isActive }}</td>
    <td>
        <a href="{% url 'app:update' job.id %}" class="btn btn-warning">Update</a>
        <a href="{% url 'app:delete' job.id %}" class="btn btn-danger">Delete</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}